name: Preprocessing Pipeline

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install pandas

      - name: Run preprocessing
        run: python preprocessing/automate_Muhammad_Faiz_Munif_Billah.py

      - name: Commit and push processed data
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add preprocessing/
          git commit -m "Auto-update preprocessed dataset" || echo "No changes to commit"
          git push
